*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

h1,
h2,
h3{
    color:black
} 


p{
 color: #0c0c0c
}
.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #3841EB;
    padding: 0.2rem;
}

nav{
    position: relative;
}

.logo{
    width: 65px;
    margin-top: 55px;
}
.navbar-items{
    position: absolute;
    right: 35;
    height: 80px;
    line-height: 80px;
    margin: 20;
    display: inline-block;
}
.navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}
.navbar-items a{
    color: #0c0c0c;
    text-decoration: none;
    transition: 0.5s;

}
.navbar-items a:hover{
    color: #131212;
}

.default-btn{
    padding: 15px 20px;
    background-color: #22DAF5;
    border-radius: 5px;
}

.navbar-items .default-btn:hover{
    background-color: #22DAF5;
    color: #fff;
}

.destaques .produtos{
    display: grid;
  grid-template-columns:  repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  max-width: 600px;
  margin: 0 auto;
}

.destaques .produtos figure{
    display: flex;
      flex-direction: column;
      align-items: center;
      background: white;
      padding: 10px;
      border-radius: 10px;
} 

.destaques .produtos img{
    width: 100%;
    max-width: 250px;
    border-radius: 8px;
}

.destaques .produtos figcaption{
     margin-top: 8px;
      font-size: 0.9rem;
      color: #555;
      text-align: center;
}